
#nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 5;
  }
  
  .bg-green{
      background-color: #1db846 !important;
  }

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.username{
    color:#000000;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;  
}
.nobull {
    list-style-type: none;
}

.pointer{
    cursor: pointer;
}

.m-0{
    list-style-type: none;
}
.box-shadow {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    -webkit-box-shadow: -21px 47px 41px -25px rgba(33,14,33,0.41);
    -moz-box-shadow: -21px 47px 41px -25px rgba(33,14,33,0.41);
    box-shadow: -21px 47px 41px -25px rgba(33,14,33,0.41);
    border-radius:15px;
}

.cart {
    position: sticky;
    top: 83%;
    right: 20px;
    z-index: 1;
    border-radius: 121px 121px 121px 121px;
    -moz-border-radius: 121px 121px 121px 121px;
    -webkit-border-radius: 121px 121px 121px 121px;
    border: 0px none #000000;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(34, 145, 1) 0%, rgba(10, 190, 64, 0.867) 42%, rgb(0, 165, 55) 100%);
    opacity:0.9;
    transition: 0.5s;
} 

.cart:hover {
    opacity:1;
    transform: scale(1.2, 1.2);
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -7px;
    height: 28px;
    width: 28px;
    font-size: 1.1333em;
    padding-top:1px;
    color: white;
    background:red;
    font-weight: 700;
    border-radius: 80%;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s,-webkit-transform .2s .5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jumbo-image {
     z-index: -1;
    /* background-image: url("https://wallpaperaccess.com/full/1537317.jpg"); */
    border-radius:0px;
    background-size: cover;
    background-repeat: no-repeat;

}

.cart-popup {
    display:none;
    position: fixed;
    bottom:7.5%;
    right: 150px;
    background-color:#f8f9fa;
    z-index : 7;
    width:400px;
    height:500px;
    border-radius: 10px 10px 10px 10px;
}

.cart-popup-block-display {
    display:block;
}

.cart-popup .cart-popup-header{
    background-color: #1db846;
    color: white;
    border-radius:10px 10px 0px 0px;
}


.fa-angle-down:hover{
    transform: scale(1.2, 1.2)
}


.cart-footer {
    position: fixed;
    width: 400px;
    bottom:7.5%;
    
}

.checkout-btn {
    border-radius: 0px 0px 10px 10px;
}



.cart-body {
    float:left;
    width:400px;
    overflow-y: auto;
    height: 399px;
 }

 .fa-times-circle:hover{
    transform: scale(1.3, 1.3)
}

.asteriskField {
    display:none;
}

.container1 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

.btn1 {
    background-color: #1db845;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  hr {
    border: 1px solid lightgrey;
  }

  span.price {
    float: right;
    color: grey;
  }

  .label1 {
    margin-bottom: 10px;
    display: block;
  }

  .input1[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }


@media only screen and (max-width: 550px) {
    body{
        font-size:12px;
    }

    h4 {
        font-size: 18px;
    }
    .display-4 {
        font-size:40px;
    }
    
  .cart-popup {
      left: 30px;
      right:20px;
      width: 300px;
      position:fixed;
      font-size: 12px;
  }

  .cart-body {
    float:left;
    width:300px;
    overflow-y: auto;
    height: 399px;
 }

    
.cart-footer {
    position: fixed;
    width: 300px;
    bottom:7.5%;
    font-size:12px;
}

.jumbo-image {
    background-size: inherit;
}
}
/* img link: https://thumbs.dreamstime.com/b/healthy-food-background-studio-photo-different-fruits-vegetables-old-wooden-table-high-resolution-product-68278471.jpg */

.carousel-caption {
    position:absolute;
    top: 0;
    left: 0;
    text-align:center;
    padding-top: 50px;
    color:white;
  }
